/.phpunit.cache
src/frontend/node_modules
/public/build
/public/hot
/public/storage
src/backend/vendor
src/backend/.env
src/backend/.env.backup
src/backend/.env.production
src/frontend/
.phpunit.result.cache
/.fleet
/.idea
/.vscode
